@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700&display=swap');
* {
    box-sizing: border-box;
    outline: 0;
  }

body {
    font-family: 'Open sans', sans-serif;
    font-size: 1.5em;
    background: rgb(44, 44, 97);
}

.section{
  max-width: 600px;
  margin: 5% auto;
  background: #5f0000;
  padding: 10%;
  border-radius: 50%;
  text-align: center;
}

h1{
    color: rgb(244, 244, 244);
}
